# Tambahan untuk monitoring cluster
APP_NAME=app1
APP_IP=10.10.102.55
REDIS_HOST=10.10.102.88
REDIS_PORT=6379
REDIS_PASSWORD=__ISI_PASSWORD_REDIS__
SESSION_NAME=connect.sid
ONLINE_ZSET_KEY=online_users_zset
ONLINE_USER_KEY_PREFIX=online_user:
ONLINE_TTL_SECONDS=180
